.managers-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* 店舗責任者一覧*/
.managers-list__box {
    width: 45%;
    background: #fff;
    overflow-y: auto;
    border-radius: 5px;
}

.managers-list__table {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
}

.managers-list__row {
    border-top: 1px solid #4d7fff;
    border-bottom: 1px solid #4d7fff;
}

.managers-list__label {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    padding: 15px 20px;
    color: #305dff;
}

.managers-list__data {
    font-size: 14px;
    text-align: center;
    padding: 15px 20px;
    color: #4d7fff;
}

.managers-list__delete--btn {
    border: none;
    background: #305dff;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    text-wrap: nowrap;
    cursor: pointer;
}

.create-manager__box {
    width: 45%;
}

.create-manager__form {
    position: relative;
    width: 90%;
    height: 600px;
    padding: 70px 0;
    background-color: #305dff;
    border-radius: 5px;
    box-shadow: 5px 5px 3px #a7a7a7;
}

.create-manager__form--select {
    width: 70%;
    height: 30px;
    margin: 10px 30px;
    padding: 0px 10px;
    border: none;
    border-radius: 5px;
}

.create-manager__form--input {
    width: 70%;
    min-width: 175px;
    height: 30px;
    margin: 10px 30px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
}

.create-manager__form--btn {
    width: 100%;
    height: 55px;
    border: none;
    background-color: #0538ff;
    font-size: 16px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .managers-list__box {
        width: 100%;
        margin-bottom: 50px;
        padding: 20px 15px;
    }

    .managers-list__table {
        width: 100%;
    }

    .create-manager__box {
        width: 100%;
    }

    .create-manager__form {
        margin: 0 auto;
        height: 450px;
    }
}
