.payment__content {
    width: 40%;
    margin: 20px auto;
    padding: 40px;
    text-align: center;
    background-color: #305dff;
    border-radius: 5px;
    box-shadow: 5px 5px 3px #a7a7a7;
}

.payment__heading h2 {
    font-size: 24px;
    color: #fff;
}

.rese__detail--heading h3 {
    font-size: 18px;
    color: #fff;
}

.rese__detail--table {
    background-color: #4d7fff;
    padding: 20px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.rese__detail--label,
.rese__detail--data {
    font-size: 16px;
    font-weight: normal;
    padding: 5px 10px;
    text-align: left;
    color: #fff;
}

.payment__form {
    background: #fff;
    padding: 40px 20px;
    margin: 10px auto;
    border-radius: 5px;
    text-align: center;
}

.form-group {
    margin: 10px;
    position: relative;
}

.form-group input {
    width: 90%;
    padding: 10px;
    padding-left: 40px;
    border: none;
    border-radius: 5px;
    background: #c4d0ff;
}

.form__expiry {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.form__expiry input {
    width: 45%;
}

.form-group__save {
    margin: 10px;
}

.form__btn--btn {
    background: #305dff;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    font-size: 16px;
}

/* アイコン*/
.inp__amount,
.inp__card,
inp__expiry,
inp__cvc {
    position: relative;
}

.inp__amount::before {
    content: "";
    position: absolute;
    background: url(/images/yen.png) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    transform: translate(8px, 8px);
}

.inp__card::before {
    content: "";
    position: absolute;
    background: url(/images/card.png) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    transform: translate(8px, 8px);
}

.inp__expiry::before {
    content: "";
    position: absolute;
    background: url(/images/expiry.png) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    transform: translate(8px, 8px);
}

.inp__cvc::before {
    content: "";
    position: absolute;
    background: url(/images/cvc.png) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    transform: translate(8px, 8px);
}

/*failed.blade.php スタイル*/
.cancel-content {
    text-align: center;
}

.cancel-msg {
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .payment__content {
        width: 80%;
    }
}
