.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shop__detail {
    width: 45%;
}

.shop__ttl {
    display: flex;
    align-items: center;
}

.shop__ttl--back {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 3px #a7a7a7;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    padding: 4px;
}

.shop__ttl--name {
    font-size: 30px;
    font-weight: 700;
    margin-left: 20px;
}

.shop__img--img {
    width: 100%;
}

.shop__tag {
    font-size: 16px;
    text-align: left;
    margin: 20px 0;
}

.shop__tag--txt {
    display: inline-block;
    margin-right: 5px;
}

.shop__description--explanation {
    font-size: 16px;
}

.shop__review {
    margin: 20px 0;
}

.review__all--link {
    display: block;
    background-color: #4d7fff;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

.review__line {
    width: 100%;
    border: solid 1px #c0c0c0;
    margin: 30px 0 20px 0;
}

.review__update {
    text-align: end;
}

.review__edit--link {
    text-decoration: underline;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

.review__delete--form {
    display: inline;
}

.review__delete--link {
    border: none;
    text-decoration: underline;
    color: #000;
    font-size: 16px;
    font-family: "Noto Sans JP", sans-serif;
    cursor: pointer;
}

.review__rating {
    font-size: 30px;
}

.rating__on {
    color: #405eeb;
}

.rating__off {
    color: #d9d9d9;
}

.review__add--link {
    color: #000;
    font-size: 18px;
    text-align: left;
    text-decoration: underline;
}

.review__imgs {
    width: 100%;
    height: 100px;
    display: flex;
    overflow-x: auto;
}

.review__imgs--img {
    height: 80%;
    margin: 10px;
}

.reservation__content {
    width: 45%;
}

.reservation__card {
    position:  relative;
    width: 100%;
    height: 700px;
    background-color: #305dff;
    border-radius: 5px;
    box-shadow: 5px 5px 3px #a7a7a7;
}

.reservation__ttl {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding: 30px 25px;
    margin: 0;
}

.rese-form__date input {
    min-width: 175px;
    height: 30px;
    margin: 5px 30px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
}

.rese-form__time select,
.rese-form__number select,
.rese-form__course select {
    width: 85%;
    height: 30px;
    margin: 5px 30px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
}

.rese-check {
    width: 80%;
    background-color: #4d7fff;
    padding: 25px 15px;
    border-radius: 5px;
    margin: 20px 30px;
}

.check__label,
.check__data {
    font-size: 16px;
    font-weight: normal;
    padding: 5px 10px;
    text-align: left;
    color: #fff;
}

.reservation__btn {
    width: 100%;
    height: 55px;
    border: none;
    background-color: #0538ff;
    font-size: 16px;
    color: #fff;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

/* 未ログイン*/
.reservation__login {
    width: 100%;
    height: 700px;
    background-color: #305dff;
    border-radius: 5px;
    box-shadow: 5px 5px 3px #a7a7a7;
    padding: 50px;
    text-align: center;
}

.login__message {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 50px auto;
    border-bottom: 2px dashed #fff;
}

.login__message--login,
.login__message--register {
    color: #fff;
    font-size: 16px;
    margin-top: 50px;
}

.login__btn,
.register__btn {
    border: none;
    text-decoration: none;
    background-color: #fff;
    color: #305dff;
    font-size: 13px;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .shop__detail,
    .reservation__content {
        width: 100%;
    }

    .shop__detail {
        margin-bottom: 70px;
    }
}
