body {
    font-family: "Noto Sans JP", sans-serif;
    background-color: #eee;
}

.header {
    display: flex;
    width: 85%;
    max-width: 1230px;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

/*ハンバーガーメニューボタン*/
.menu-icon {
    display: flex;
}

.menu__btn {
    display: flex;
    margin-top: 30px;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    z-index: 50;
    background-color: #305dff;
    box-shadow: 3px 3px 3px #9d9d9d;
    cursor: pointer;
}

.menu__btn span,
.menu__btn span::before,
.menu__btn span::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #fff;
    position: absolute;
}

.menu__btn span {
    width: 20px;
}

.menu__btn span::before {
    width: 10px;
    bottom: 6px;
}

.menu__btn span::after {
    width: 5px;
    top: 6px;
}

#menu__input:checked ~ .menu__btn span {
    background-color: rgba(255, 255, 255, 0);
}

#menu__input:checked ~ .menu__btn span::before {
    bottom: 0;
    width: 20px;
    transform: rotate(45deg);
}

#menu__input:checked ~ .menu__btn span::after {
    top: 0;
    width: 20px;
    transform: rotate(-45deg);
}

.menu__input {
    display: none;
}

.menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 40;
    background-color: #fff;
    text-align: center;
}

.menu ul {
    padding: 150px 0;
}

.menu ul li {
    list-style: none;
}

.menu ul li button {
    font-size: 32px;
    box-sizing: border-box;
    color: #305dff;
    text-decoration: none;
    padding: 30px 15px;
    text-align: center;
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header__logo {
    font-size: 32px;
    font-weight: bold;
    color: #305dff;
    margin-left: 15px;
}

#menu__input:checked ~ .menu {
    left: 0;
}

.content {
    width: 85%;
    margin: 10px auto 100px auto;
    max-width: 1240px;
}

.error {
    color: #f08080;
    font-size: 10px;
    margin: 0 30px;
}

/* QRcode*/
.qr-content {
    margin: 20px;
    text-align: center;
}

.qr__txt {
    font-size: 16px;
}
