body {
    font-family: "Almarai", sans-serif;
    background-color: #eee;
}

.header {
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding: 10px 70px;
    align-items: center;
}

.hamburger-icon {
    display: flex;
}

.hamburger__btn {
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    z-index: 50;
    background-color: #305dff;
    box-shadow: 3px 3px 3px #9d9d9d;
    cursor: pointer;
}

.hamburger__btn span,
.hamburger__btn span::before,
.hamburger__btn span::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #fff;
    position: absolute;
}

.hamburger__btn span {
    width: 20px;
}

.hamburger__btn span::before {
    width: 10px;
    bottom: 6px;
}

.hamburger__btn span::after {
    width: 5px;
    top: 6px;
}

#hamburger__input:checked ~ .hamburger__btn span {
    background-color: rgba(255, 255, 255, 0);
}

#hamburger__input:checked ~ .hamburger__btn span::before {
    bottom: 0;
    width: 20px;
    transform: rotate(45deg);
}

#hamburger__input:checked ~ .hamburger__btn span::after {
    top: 0;
    width: 20px;
    transform: rotate(-45deg);
}

.hamburger__input {
    display: none;
}

.hamburger-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 40;
    background-color: #fff;
    text-align: center;
}

.hamburger-menu ul {
    padding: 150px 0;
}

.hamburger-menu ul li {
    list-style: none;
}

.hamburger-menu ul li button {
    font-size: 32px;
    box-sizing: border-box;
    color: #305dff;
    text-decoration: none;
    padding: 30px 15px;
    text-align: center;
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header__logo {
    font-size: 32px;
    font-weight: bold;
    color: #305dff;
    margin-left: 15px;
}

#hamburger__input:checked ~ .hamburger-menu {
    left: 0;
}

.error {
    color: #f08080;
    font-size: 16px;
    margin: 0 30px;
}