.detail-content {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

/*店舗詳細*/
.detail__shop {
    width: 45%;
}

.shop__ttl {
    display: flex;
    align-items: center;
}

.shop__ttl--btn {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 3px #a7a7a7;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 4px;
}

.shop__ttl--txt {
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}

.shop__img img {
    width: 100%;
}

.shop__detail-tag {
    font-size: 16px;
    text-align: left;
}

.shop__detail-tag-area,
.shop__detail-tag-genre {
    display: inline-block;
    margin-right: 5px;
}

.shop__detail-txt {
    font-size: 15px;
}

/*予約*/
.detail__rese {
    width: 45%;
}

.rese__box {
    position: relative;
    width: 100%;
    height: 700px;
    background-color: #305dff;
    border-radius: 5px;
    box-shadow: 5px 5px 3px #a7a7a7;
}

.rese__ttl {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 30px 25px;
    margin: 0;
}

.rese-form__date input {
    min-width: 175px;
    height: 30px;
    margin: 5px 30px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
}

.rese-form__time select,
.rese-form__number select {
    width: 85%;
    height: 30px;
    margin: 5px 30px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
}

.rese-check {
    width: 80%;
    background-color: #4d7fff;
    padding: 25px 15px;
    border-radius: 5px;
    margin: 10px 30px;
}

.check__label,
.check__data {
    font-size: 16px;
    font-weight: normal;
    padding: 5px 10px;
    text-align: left;
    color: #fff;
}

.form__btn--rese {
    width: 100%;
    height: 55px;
    border: none;
    background-color: #0538ff;
    font-size: 16px;
    color: #fff;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}