.mypage {
    width: 80%;
    margin: 10px auto;
}

.mypage__heading {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.mypage__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*予約状況*/
.mypage__rese {
    width: 45%;
}

.rese__heading {
    width: 100%;
    display: flex;
    align-items: center;
}

.rese__ttl {
    font-size: 24px;
    text-wrap: nowrap;
}

.rese__visited--link {
    color: #fff;
    background-color: #305dff;
    font-size: 20px;
    text-wrap: nowrap;
    margin-left: 200px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    box-shadow: 5px 5px 3px #a7a7a7;
    cursor: pointer;
}

.rese-wrap {
    margin: 30px 0;
}

.rese-card {
    width: 450px;
    border-radius: 5px;
    box-shadow: 5px 5px 3px #a7a7a7;
    background-color: #305dff;
    color: #fff;
    padding: 30px;
    margin: 20px 0;
}

.rese-card__heading {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.rese-card__ttl {
    font-size: 16px;
    margin-left: 50px;
}

.rese-card__ttl::before {
    content: "";
    position: absolute;
    background: url(/images/watch.png) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    transform: translate(-60px, 10px);
}

.rese-card__delete--btn {
    background-image: url(/images/delete.png);
    border: none;
    background-color: transparent;
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.rese__label,
.rese__data {
    font-size: 16px;
    font-weight: normal;
    padding: 10px 30px 10px 0px;
    text-align: left;
}

.rese__edit--btn,
.rese__qr--btn {
    text-align: right;
    padding: 0 20px;
}

.rese__qr--btn {
    margin-top: 20px;
}

.rese__edit--btn-link,
.rese__qr--btn-link {
    background-color: #fff;
    color: #305dff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}



/*お気に入り店舗*/
.mypage__fav {
    min-width: 600px;
    width: 50%;
}

.fav__ttl {
    font-size: 24px;
}

.fav-wrap {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.fav-card {
    width: 300px;
    margin: 20px 60px 20px 0;
    border-radius: 5px;
    box-shadow: 5px 5px 3px #a7a7a7;
}

.card__img img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card__content {
    padding: 10px 20px;
    background-color: #fff;
}

.card__content-ttl {
    font-size: 20px;
    font-weight: 900;
    margin: 10px 0 0 0;
}

.card__content-tag {
    font-size: 12px;
    text-align: left;
}

.card__content-tag-area,
.card__content-tag-genre {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 15px;
}

.card__content-btn {
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.card__content-detail--btn {
    border: none;
    background-color: #305dff;
    font-size: 13px;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.card__content-favorite--btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.favorite-icon {
    width: 35px;
    height: 35px;
}
