.detail-content {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

/*店舗詳細*/
.detail__shop {
    width: 45%;
}

.shop__ttl {
    display: flex;
    align-items: center;
}

.shop__ttl--btn {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 3px #a7a7a7;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 4px;
}

.shop__ttl--txt {
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}

.shop__img img {
    width: 100%;
}

.shop__detail-tag {
    font-size: 16px;
    text-align: left;
}

.shop__detail-tag-area,
.shop__detail-tag-genre {
    display: inline-block;
    margin-right: 5px;
}

.shop__detail-txt {
    font-size: 15px;
}

/*口コミ*/
.review__content {
    width: 45%;
}

.review__box {
    width: 100%;
    height: 800px;
    background-color: #305dff;
    border-radius: 5px;
    box-shadow: 5px 5px 3px #a7a7a7;
}

.review__heading {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 50px;
    margin: 0;
}

.review__card{
    width: 80%;
    height: 70%;
    overflow-y: auto;
    background-color: #4d7fff;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
}

.review__no-review {
    font-size: 14px;
    color: #fff;
}

.review__table {
    padding: 10px 30px;
}

.review__list {
    list-style: none;
    border-top:1px dashed #fff ;
}

.review__rating {
    font-size: 1.2em;
}

.rating__yellow {
    color: #f5b301;
}

.rating__gray {
    color: #ddd;
}

.rating__count {
    color: #fff;
}

.review__comment {
    font-size: 16px;
    color: #fff;
}

.review__reservation-date {
    font-size: 12px;
    color: #a7a7a7;
    text-align: end;
}
